.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    height: fit-content;
    padding: 20px;
    color: white;
    height: 500px;
    min-width: 400px;
}

.section p{
    margin: 2px;
}