.main {
    display: flex;
    background: linear-gradient(to right bottom, purple, black);
    width: 100%;
    min-height: 100vh;
    padding: 20px;

}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;

}

.input {
    margin: 5px;
}

.result {
    margin: 5px;

}

@media (max-width:500px) {
    .div {
        width: 98%;
        max-width: auto;
    }
}